
@{
    var bestScore = ViewBag.BestScore;
    var winStreak = ViewBag.WinStreak;
    Identity yesterdayIdentity = ViewBag.YesterdayIdentity;
}

<div class="game-head-footer-daily-container">
    <div>
        <span class="yesterday-icon-container">Yesterday character was <img class="yesterday-icon" src="@yesterdayIdentity.Icon" alt="@yesterdayIdentity.Name"></span>
    </div>
    <div>
        <span>Best Score: @bestScore</span>
        <span>Win streak: @winStreak</span>
    </div>
</div>
