<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Limbus wordle</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link  rel="stylesheet" href="~/css/autocomplete.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Limbus_wordle.styles.css" asp-append-version="true" />
    <link rel="icon" href="Content/Images/Limbus_icon.png">
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-0S7J13KG1P"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-0S7J13KG1P');
</script>
<body>
    <header>
        <nav class="header">
            <a class="navbar-brand" asp-area="" asp-controller="DailyIdentityMode" asp-action="Index">Daily Mode</a>
            <a class="navbar-brand" asp-area="" asp-controller="EndlessIdentityMode" asp-action="Index">Endless Mode</a>
            </div>
        </nav>
    </header>
    <div class="main-container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
