.ui-autocomplete{
    overflow-y: auto;
    font-size: 20px;
    max-height: 11em;
}

.ui-autocomplete::-webkit-scrollbar {
    display: none;
}

.ui-atuocomplete{
    -ms-overflow-style: none;  
    scrollbar-width: none;
}
  
.ui-autocomplete *{
    font-size: 0.9em;
}

.ui-menu-item{
    padding: 4p 8px;
}

.suggest-icon{
    max-width: 4em;
    width: 100%;
}

