<div class="game-container">
    <p>
        Hello, The site has been moved to another site for better user experience
    </p>
    <a href="https://limbus-wordle.netlify.app/">
        <button class="header-btn">Click here</button> 
    </a>
</div>